h1{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 35px;
    font-size: 81px;
    letter-spacing: -3px;
    font-family:Arial ;
}
h1 span:nth-child(1){
    color: rgb(66 133 244);
}
h1 span:nth-child(2){
    color: rgb(234 67 53);
}
h1 span:nth-child(3){
    color: rgb(251 188 5);
}
h1 span:nth-child(4){
    color: rgb(66 133 244);
}
h1 span:nth-child(5){
    color: rgb(52 168 83);
}
h1 span:nth-child(6){
    color: rgb(234 67 53);
}
form div{
    /*border:1px solid gray;*/
    border-radius: 30px;
    margin: 0 auto;
    width:530px; 
    height: 40px;
    box-shadow: 1px 1px 5px 0.8px rgb(189, 189, 189);
}
form div img{
    margin-top: 9px;
    padding-left: 12px;
    padding-right: 6px;
    width: 22px;
}
form  div input{
    border: none;
    font-size: 20px;
    position: absolute;
    height: 38px;
    padding-left: 10px;
    font-size: 15px;
    width: 430px;
    outline: none;
}
